@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.arrow-btn {
  position: relative;
  display: inline-block;
  border-radius: 0;
  color: #ec7393; /* 핑크톤으로 변경 */
  margin-top: 2rem;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-decoration: none;
  transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  padding-right: 2.5em;
}
.arrow-btn:hover {
  transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.arrow-btn:hover:after {
  transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateX(15px);
  opacity: 0;
}
.arrow-btn:hover:before {
  transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateX(0);
  opacity: 1;
}
.arrow-btn:before, .arrow-btn:after {
  content: "⟶";
  position: absolute;
  right: 0;
  top: -25%;
}
.arrow-btn:before {
  transform: translateX(-15px);
  opacity: 0;
}
.arrow-btn:after {
  transform: none;
}


.frame-btn {
  margin-top: 50px;
  line-height: 10px;
  display: inline-block;
  padding: 25px 30px;
  font-size: 10px;
  letter-spacing: 3px;
  text-decoration: none;
  position: relative;
}
.frame-btn__text {
  color: #ec7393; /* 핑크톤으로 변경 */
  font-weight: bold;
  text-transform: uppercase;
  transition: 300ms ease;
  position: relative;
}
.frame-btn:hover .frame-btn__text {
  color: white;
}
.frame-btn__solid {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  background-color: #ec7393; /* 핑크톤으로 변경 */
  width: calc(100% - (5px * 4));
  height: calc(100% - (5px * 4));
  transform-origin: 50%;
  transform: scale(0.85);
  opacity: 0;
  transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.frame-btn:hover .frame-btn__solid {
  opacity: 1;
  transform: scale(1);
}
.frame-btn__outline {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-btn__outline--tall {
  margin: 0 5px;
  width: calc(100% - (5px * 2));
  height: 100%;
}
.frame-btn__outline--flat {
  margin: 5px 0;
  height: calc(100% - (5px * 2));
  width: 100%;
}
.frame-btn__line {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.frame-btn__line--tall:before, .frame-btn__line--tall:after {
  height: 100%;
  width: 1px;
  top: 0;
}
.frame-btn:hover .frame-btn__outline--flat .frame-btn__line--tall:before, .frame-btn:hover .frame-btn__outline--flat .frame-btn__line--tall:after {
  transform: scaleY(0);
}
.frame-btn:hover .frame-btn__outline--tall .frame-btn__line--tall:before, .frame-btn:hover .frame-btn__outline--tall .frame-btn__line--tall:after {
  margin: 5px 0;
  height: calc(100% - (5px * 2));
}
.frame-btn__line--tall:before {
  left: 0;
}
.frame-btn__line--tall:after {
  right: 0;
}
.frame-btn__line--flat:before, .frame-btn__line--flat:after {
  width: 100%;
  height: 1px;
  left: 0;
}
.frame-btn:hover .frame-btn__outline--tall .frame-btn__line--flat:before, .frame-btn:hover .frame-btn__outline--tall .frame-btn__line--flat:after {
  transform: scaleX(0);
}
.frame-btn:hover .frame-btn__outline--flat .frame-btn__line--flat:before, .frame-btn:hover .frame-btn__outline--flat .frame-btn__line--flat:after {
  margin: 0 5px;
  width: calc(100% - (5px * 2));
}
.frame-btn__line--flat:before {
  top: 0;
}
.frame-btn__line--flat:after {
  bottom: 0;
}
.frame-btn__line:before, .frame-btn__line:after {
  content: "";
  display: block;
  position: absolute;
  background-color:#ec7393; /* 핑크톤으로 변경 */
  transition: 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.frame-btn:hover .frame-btn__line:before, .frame-btn:hover .frame-btn__line:after {
  transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}


@-webkit-keyframes bubbleIn {
  from {
    transform: scale(0.9);
    border-color: transparent;
    opacity: 0;
  }
  to {
    border-color: #abbabf;
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bubbleIn {
  from {
    transform: scale(0.9);
    border-color: transparent;
    opacity: 0;
  }
  to {
    border-color: #abbabf;
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes bubbleOut {
  from {
    border-color: #abbabf;
    transform: scale(1);
    opacity: 1;
  }
  to {
    border-color: transparent;
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes bubbleOut {
  from {
    border-color: #abbabf;
    transform: scale(1);
    opacity: 1;
  }
  to {
    border-color: transparent;
    transform: scale(1.2);
    opacity: 0;
  }
}


.trash-icon {
  transition: transform 0.2s ease; /* 애니메이션의 부드러움을 위해 트랜지션 추가 */
}

.trash-icon:hover {
  transform: scale(1.2); /* 마우스를 올리면 아이콘을 살짝 키우기 */
}

.trash-icon:active {
  transform: scale(1); /* 클릭할 때 다시 원래 크기로 복귀 */
  transition: transform 0.1s ease; /* 클릭 시 더 빠른 애니메이션 */
}