.charts-container {
    display: flex;
    padding: 20px;
}

.charts-row {
    display: flex;
    /* justify-content: space-around;  */
    align-items: flex-start;
    margin: 40px 0; /* 그래프 간 간격 */
    margin-left: 230PX;

}

.chart-wrapper {
    width: 200%; /* 차트의 너비를 100%로 설정 */
    max-width: 800px; /* 최대 너비 설정 */
    margin: 0 20px; /* 차트 간의 간격 */
    margin-left: 0; /* 부모 요소의 padding이나 margin으로 인한 영향 제거 */
    display: flex; /* 차트와 파이 차트를 가로로 배치 */
    flex-direction: row; /* 가로 방향으로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

.pie-chart-wrapper {
    width: 300px; /* 파이 차트의 너비 설정 */
    margin-left: 20px; /* 바 차트와의 간격 */
}

.chart-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}
